<h1 class="font-bold text-2xl"><%= @list.title %></h1>
<p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="red-alert">
  NOTE: the page is under construction. All the things are working unexpectedly awfully.
  <u><%= link_to 'Bear with me, please.', root_url %></u>
</p>

<p><%= @list.description %></p>

<div id="tasks" data-controller="tasks">
  <div class="px-5">
    <%= render "section", section: @list.default_section %>
    <% @list.sections.each do |section| %>
      <%= render "section", section: section %>
    <% end %>
  </div>
</div>
