<%= turbo_frame_tag task do %>
  <div class="block mb-4 p-4 bg-white shadow-md rounded-lg">
    <%= form_with(model: task, class: "flex items-center space-x-3") do |form| %>
      <%= form.check_box :completed,
                        data: {
                          id: task.id,
                          action: "tasks#toggle"
                        },
                        class: "form-checkbox h-5 w-5 text-green-600 rounded focus:ring-0" %>
      <span class="<%= 'line-through' if task.completed %>">
        <%= task.title %>
      </span>
    <% end %>
    <span class="<%= 'line-through' if task.completed %>">
      <p class="text-gray-700 mt-2"><%= task.description %></p>
    </span>

    <%= link_to "Edit", edit_task_path(task),
                class: "inline-block text-sm px-4 py-2 leading-none border rounded text-blue-700 border-blue-500 hover:border-transparent hover:text-white hover:bg-blue-500 mt-4 lg:mt-0" %>
    <%= button_to "Delete", task_path(task),
                    method: :delete,
                    data: { action: "tasks#delete" },
                    class: "inline-block text-sm px-4 py-2 leading-none border rounded text-red-700 border-red-500 hover:border-transparent hover:text-white hover:bg-red-500 mt-4 lg:mt-0" %>
  </div>
<% end %>
